$main-color: #F52626;
$bg-dark: #1E242E;

@media (min-width: 1200px) {
    
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1160px;
    }
}

body {
    background-color: black;
    color: white;
}

h2 {
    font-weight: 800;
    font-size: 48px;
    color: white;
    
    @media (max-width: 991.98px) {
        font-size: 28px;
    }
}

.promo {
    h1 {
        font-size: 64px;
        line-height: 1.2;
        margin-bottom: 38px;
        font-weight: 800;
        color: $main-color;
        
        
        span {
            color: white;
            font-size: 48px;
            display: block;
        }
    }
    
    &__text {
        font-size: 24px;
        margin-bottom: 40px;
    }
    
    &__image {
        z-index: -1;
    }
    
    @media(max-width: 1199.98px) {
        h1 {
            font-size: 56px;
            
            span {
                font-size: 40px;
            }
        }
        
        &__text {
            font-size: 20px;
        }
    }
    
    @media (max-width: 991.98px) {
        &__image {
            text-align: center;
        }
    }
    
    @media (max-width: 767.98px) {
        h1 {
            font-size: 32px;
            
            span {
                font-size: 24px;
            }
        }
        
        &__text {
            font-size: 18px;
        }
        
        .promo__image {
            margin-bottom: -50px;
            
        }
    }
}


.button {
    height: 60px;
    background-color: $main-color;
    border-color: $main-color;
    display: inline-flex;
    align-items: center;
    padding: 0 35px;
    
    &:hover {
        background: none;
        border-color: $main-color;
        color: $main-color;
    }
    
    &:active {
        background-color: $main-color !important;
        border-color: $main-color !important;
    }
    
    @media (max-width: 767.98px) {
        height: 56px;
        font-size: 16px;
        padding: 0 20px;
    }
    
}

.tab-gender {
    border: none;
    
    .nav-link {
        font-weight: 800;
        font-size: 18px;
        color: white;
        width: 200px;
        border: none;
        border-bottom: 2px solid #666D85;
        border-radius: 0;
        margin: 0;
        
        &.active {
            background: none;
            color: $main-color;
            border-color: $main-color;
        }
        
        @media (max-width: 767.98px) {
            width: 150px;
            font-size: 16px;
        }
    }
}

.service {
    position: relative;
    display: block;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(16.07deg, #0B2435 3.23%, rgba(11, 36, 53, 0) 53.88%);
        border-radius: 20px;
    }
    
    img {
        border-radius: 20px;
    }
    
    &__wrapper {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        
        display: flex;
        justify-content: space-between;
        
        svg {
            flex-shrink: 0;
        }
        
    }
    
    h3 {
        margin-bottom: 0;
        font-weight: 800;
        font-size: 24px;
        line-height: 24px;
        color: white;
        min-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    @media(max-width: 991.98px) {
        img {
            border-radius: 8px;
        }
        
        &::before {
            border-radius: 8px;
        }
        
        h3 {
            font-size: 12px;
            min-height: auto;
        }
        
        &__wrapper {
            bottom: 8px;
            left: 10px;
            right: 6px;
        }
        
        svg {
            width: 16px;
            height: 16px;
        }
    }
    
    
}
